.scrollable-container{
    display: flex;
    /* for testing --- real below --- */
    flex-direction: row-reverse;
    /* flex-direction: row-reverse; */
    height: 125px;
    background-color: white;
    border-radius: 5px;
    /* margin: 0 auto; */
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.241);
    padding: 10px;
    overflow-x: auto;
}

.WorkoutTile{
    width: 150px;
    height: 100px;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 0.3s ease;
    flex-shrink: 0;
    margin: 0 5px;
    cursor: pointer;
}
.WorkoutTile:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.241);
    cursor:pointer;
    background-color: #0056b3;
}
.sets-text{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.date-text{
    font-weight: 500;
    font-size: 14px;
    color: #e8e7e7;
}

h2.empty-message {
    text-align: center;
    height: fit-content;
    margin: auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #007bff;
    }
    50% {
        transform: scale(1.05);
        background-color: #0056b3;
    }
    100% {
        transform: scale(1);
        background-color: #007bff;
    }
}

/* Apply the pulse animation to the element you want to pulse */
.active-workout{
    animation: pulse 1.5s infinite;
}
.active-workout:hover{
    animation-play-state: paused;
    transform: scale(1.05);
    background-color: #0056b3;
}
