.homepage{
    display:flex;
    flex-direction: column;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

*{
    word-wrap: break-word;
}
.homepage *{
    max-width: 100%;
}

.workout-button {
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
    color: white;
    background-image: linear-gradient(to bottom, #007bff, #0056b3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .workout-button:hover {
    background-image: linear-gradient(to bottom, #0056b3, #002d5a);
    transform: scale(1.05);
    color:white;
  }

  .routine-button-container{
    display: flex;
    flex-direction: row;

  }
  .edit {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    /* font-weight: bold; */
    text-transform: uppercase;
    width: fit-content;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .delete{
    color: #007bff;
    font-weight: bold;
    transition: transform 0.3s ease;
    width: fit-content;
  }
  .delete:hover{
    color: red;
    /* transform: scale(1.05); */
  }

  .edit:hover {
    background-color: #0056b3;
    color: white;
    /* transform: scale(1.05); */
  }
  .new-routine-button {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0;
    height: 30px;
    font-size: 20px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }

  .new-routine-button:hover {
    background-color: #0056b3;
    color:white;
  }
  .routines-h1{
    padding-bottom: 0px;
  }

  .routine-tile-container{
    display: flex;
    flex-direction: column;
  }

  .routine-tile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    vertical-align: top;
    overflow: auto;
    margin-top: 10px;
  }

  .routine-header {
    font-size: 18px;
    font-weight: bold;
  }

  .routine-description {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .routine-muscles {
    margin-bottom: 10px;
  }

  .routine-muscles li {
    list-style-type: none;
  }

  .routine-author {
    font-size: 12px;
    color: #888;
    align-self: flex-end;
  }
